
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #f4f4f4;
    color: #333;
}

h1, h2, h3 {
    color: #003366;
}

header {
    background: #dde7f2;
    padding: 20px;
}


nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

nav li {
    float: left;
    margin-right: 15px;
}

nav a {
    text-decoration: none;
    font-weight: bold;
}

nav ul::after {
    content: "";
    clear: both;
    display: block;
}

section {
    padding: 20px;
    background: white;
    margin: 20px;
    border-radius: 8px;
}

.profile-block {
    display: flex;
    gap: 20px;
}

.avatar {
    width: 180px;
    border-radius: 12px;
}

.skills-container {
    display: flex;
    gap: 20px;
}

.skill-box {
    background: #eef5ff;
    padding: 15px;
    border-radius: 10px;
    flex: 1;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

th, td {
    border: 1px solid #999;
    padding: 10px;
    text-align: left;
}

form input, form textarea {
    width: 300px;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #888;
}

button {
    padding: 10px 20px;
    border: none;
    background: #003366;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background: #0055aa;
}

footer {
    text-align: center;
    padding: 15px;
    background: #dde7f2;
    margin-top: 40px;
}
